{% extends 'base.html' %}

{% block content %}


<div class="add-body">
	<form action="{{ url_for('insert_recipe') }}" enctype="multipart/form-data" method="POST" class="form-add">


        <div>
			<h6 class="add-title">RECIPE DETAILS</h6>
		</div>

	
		<div class="row">
			<div class="input-field">

				<input placeholder="Insert a Recipe Name:" id="recipe_name" name="recipe_name" type="text" class="validate add-recp">
				<label for="recipe_name"> </label>
			</div>
		</div>

	
		<div class="row">
			<div class="input-field ">

				<input placeholder="Recipe Serves:" id="recipe_serve" name="recipe_serve"  maxlength="4" type="text" class="validate add-recp">
				<label for="recipe_serve">  </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field">

				<input placeholder="Recipe Category:" id="recipe_category" name="recipe_category" type="text" class="validate add-recp">
				<label for="recipe_category"> </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field">

				<input placeholder="Cook Time:" id="recipe_time" name="recipe_time" type="text"  maxlength="4" class="validate add-recp">
				<label for="recipe_time"> </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field">
				<input type="url" name="recipe_photo" id="recipe_photo" class="add-recp" placeholder="Enter you PHOTO URL = https:// URL:" required>
				<label for="url"> </label>
			</div>
		</div>


		<div>
			<h6 class="add-title">INGREDIENTS</h6>
		</div>

		<div class="row">
			<div class="input-field">
		
				<textarea placeholder="Insert Ingredients: " id="ingredients" name="ingredients" class="add-recp-text"></textarea>
				
			</div>
		</div>


        <div>
			<h6 class="add-title">COOK METHOD</h6>
		</div>

        <div class="row">
			<div class="input-field">
                    			                   
				<textarea placeholder="Inserta Cook Method: " id="directions" name="directions" class="add-recp-text"></textarea>
              
			</div>
		</div>



		<!-----------------ADD BUTTON TO SAVE IN THE DB------------------------------->
		<button class="btn add-button" type="submit" name="action">Add Recipe
            
        </button>


	</form>
</div>


{% endblock %}