{% extends 'base.html' %}

{% block content %}

<div>
	<h6 class="edit-title">EDIT RECIPE DETAILS</h6>
</div>

<div class="row edit-body">
	<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">

		<div class="row">
			<div class="input-field col s12">
			
				<input placeholder="Edit a Recipe Name:" id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}">
				<label for="recipe_name"> </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">

				<input placeholder="Recipe Serves:" id="recipe_serve" name="recipe_serve"  maxlength="3" type="text" class="validate" value="{{recipe.recipe_serve}}">
				<label for="recipe_serve">  </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">

				<input placeholder="Edit a Recipe Category:" id="recipe_category" name="recipe_category" type="text" class="validate" value="{{recipe.recipe_category}}">
				<label for="recipe_category"> </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">

				<input placeholder="Edit a Recipe Category:" id="recipe_category" name="recipe_category" type="text" class="validate" value="{{recipe.recipe_category}}">
				<label for="recipe_category"> </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">

				<input placeholder="Cook Time:" id="recipe_time" name="recipe_time" type="text"  maxlength="3" class="validate" value="{{recipe.recipe_time}}">
				<label for="recipe_time"> </label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<input type="url" name="recipe_photo" id="recipe_photo" placeholder="Enter you PHOTO URL = https:// URL:" required value="{{recipe.recipe_photo}}">
				<label for="url"> </label>
			</div>
		</div>

		<div>
			<h6 class="edit-title"> EDIT INGREDIENTS </h6>
		</div>

		<div class="row">
			<div class="input-field col s12">

				<textarea placeholder="Insert Ingredients: " id="ingredients" name="ingredients" class="materialize-textarea">{{recipe.ingredients}}</textarea>


			</div>
		</div>

		<div>
			<h6 class="edit-title">EDIT COOK DIRECTIONS</h6>
		</div>


		<div class="row">
			<div class="input-field col s12">
				<textarea placeholder="Inserta Cook Method: " id="directions" name="directions" class="materialize-textarea">{{recipe.directions}}</textarea>
				<label for="directionss"> </label>
			</div>
		</div>

		<div class="row">
			<button  class="btn btn-primary edit-button" type="submit" name="action">Edit Recipe
                <i class="material-icons right">playlist_add</i>
             </button>
		</div>
	</form>
</div>








{% endblock %}