{% extends 'base.html' %}
   
{% block content %}

<div class="container-fluid">

	<div class="row">

    
{% for recipe in recipe_name %}

<!-----THE DIV CLASS CARD-DECK IS GIVING A CSS ERROR SELECTOR SPECIFICITY SO I HAVE TO ADD IN THE CODE----->
		<div class="card-deck">
			
			<img class="img-fluid card-01-img" alt="Responsive image" src="{{recipe.recipe_photo}}">



			<div class="card-body card-01-body">

				<p class="card-title">Recipe Name: {{recipe.recipe_name}}</p>
		
                <p class="card-text">
					Recipe Category: {{recipe.recipe_category}}
				</p>
				
                <p class="card-text">
					Receipe Serves: {{recipe.recipe_serve}} People
				</p>
				
                <p class="card-text">
					Time: {{recipe.recipe_time}} MIN.
				</p>
				<a href="{{ url_for('details', recipe_id=recipe._id) }}" class="btn card-01-button">Recipe Details</a>


			</div>

		</div>
      {% endfor %} 
    
	</div>

</div>

{% endblock %}


